<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>包</string>
		<key>shortcut</key>
		<string>bao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>编译</string>
		<key>shortcut</key>
		<string>bianyi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赋值</string>
		<key>shortcut</key>
		<string>fuzhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>简写</string>
		<key>shortcut</key>
		<string>jianxie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>空值</string>
		<key>shortcut</key>
		<string>kongzhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>零值</string>
		<key>shortcut</key>
		<string>lingzhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>每</string>
		<key>shortcut</key>
		<string>mei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>枚举</string>
		<key>shortcut</key>
		<string>meiju</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>马上到</string>
		<key>shortcut</key>
		<string>msd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>内置</string>
		<key>shortcut</key>
		<string>neizhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>起始</string>
		<key>shortcut</key>
		<string>qishi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>去重</string>
		<key>shortcut</key>
		<string>quchong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>取值</string>
		<key>shortcut</key>
		<string>quzhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>上行</string>
		<key>shortcut</key>
		<string>shanghang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>式</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>实例</string>
		<key>shortcut</key>
		<string>shili</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>示例</string>
		<key>shortcut</key>
		<string>shili</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>选择符</string>
		<key>shortcut</key>
		<string>xuanzefu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>隐式</string>
		<key>shortcut</key>
		<string>yinshi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>引用</string>
		<key>shortcut</key>
		<string>yinyong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>字面量</string>
		<key>shortcut</key>
		<string>zml</string>
	</dict>
    <dict>
 		<key>phrase</key>
 		<string>你好世界</string>
 		<key>shortcut</key>
 		<string>nhsj</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>键值</string>
 		<key>shortcut</key>
 		<string>jianzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>键值对</string>
 		<key>shortcut</key>
 		<string>jianzhidui</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>不定长</string>
 		<key>shortcut</key>
 		<string>budingchang</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>变参</string>
 		<key>shortcut</key>
 		<string>biancan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>传参</string>
 		<key>shortcut</key>
 		<string>chuancan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>闭包</string>
 		<key>shortcut</key>
 		<string>bibao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>即</string>
 		<key>shortcut</key>
 		<string>ji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>初始值</string>
 		<key>shortcut</key>
 		<string>chushizhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>重载</string>
 		<key>shortcut</key>
 		<string>chongzai</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>析构</string>
 		<key>shortcut</key>
 		<string>xigou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>常用于</string>
 		<key>shortcut</key>
 		<string>changyongyu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>字面量</string>
 		<key>shortcut</key>
 		<string>zimianliang</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>缴</string>
 		<key>shortcut</key>
 		<string>jiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>类</string>
 		<key>shortcut</key>
 		<string>lei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>超集</string>
 		<key>shortcut</key>
 		<string>chaoji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>子集</string>
 		<key>shortcut</key>
 		<string>ziji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>既</string>
 		<key>shortcut</key>
 		<string>ji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>多态</string>
 		<key>shortcut</key>
 		<string>duotai</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>则</string>
 		<key>shortcut</key>
 		<string>ze</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>可见性</string>
 		<key>shortcut</key>
 		<string>kejianxing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>直接</string>
 		<key>shortcut</key>
 		<string>zhijie</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>私有</string>
 		<key>shortcut</key>
 		<string>siyou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>校招</string>
 		<key>shortcut</key>
 		<string>xiaozhao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>标识</string>
 		<key>shortcut</key>
 		<string>biaoshi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>源码</string>
 		<key>shortcut</key>
 		<string>yuanma</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>栈</string>
 		<key>shortcut</key>
 		<string>zhan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>核数</string>
 		<key>shortcut</key>
 		<string>heshu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>星</string>
 		<key>shortcut</key>
 		<string>xing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>死锁</string>
 		<key>shortcut</key>
 		<string>sisuo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>阻塞</string>
 		<key>shortcut</key>
 		<string>zuse</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>型</string>
 		<key>shortcut</key>
 		<string>xing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>放置</string>
 		<key>shortcut</key>
 		<string>fangzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>可读</string>
 		<key>shortcut</key>
 		<string>kedu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>本例</string>
 		<key>shortcut</key>
 		<string>benli</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>此例</string>
 		<key>shortcut</key>
 		<string>cili</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>宏</string>
 		<key>shortcut</key>
 		<string>hong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>样例</string>
 		<key>shortcut</key>
 		<string>yangli</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>字符</string>
 		<key>shortcut</key>
 		<string>zifu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>计费值</string>
 		<key>shortcut</key>
 		<string>jifeizhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>宕机</string>
 		<key>shortcut</key>
 		<string>dangji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>宕掉</string>
 		<key>shortcut</key>
 		<string>dangdiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>行参</string>
 		<key>shortcut</key>
 		<string>xingcan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>实参</string>
 		<key>shortcut</key>
 		<string>shican</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>高阶</string>
 		<key>shortcut</key>
 		<string>gaojie</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>回调</string>
 		<key>shortcut</key>
 		<string>huidiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>回调函数</string>
 		<key>shortcut</key>
 		<string>huidiaohanshu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>信</string>
 		<key>shortcut</key>
 		<string>xin</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>应用</string>
 		<key>shortcut</key>
 		<string>yingyong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>程序坞</string>
 		<key>shortcut</key>
 		<string>chengxuwu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>但</string>
 		<key>shortcut</key>
 		<string>dan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>搜索</string>
 		<key>shortcut</key>
 		<string>ss</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>行尾</string>
 		<key>shortcut</key>
 		<string>hangwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>三</string>
 		<key>shortcut</key>
 		<string>san</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>至</string>
 		<key>shortcut</key>
 		<string>zhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>初始</string>
 		<key>shortcut</key>
 		<string>chushi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>抢单</string>
 		<key>shortcut</key>
 		<string>qiangdan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>网关</string>
 		<key>shortcut</key>
 		<string>wangguan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>遍历</string>
 		<key>shortcut</key>
 		<string>bianli</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>字节</string>
 		<key>shortcut</key>
 		<string>zijie</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>取址</string>
 		<key>shortcut</key>
 		<string>quzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>链表</string>
 		<key>shortcut</key>
 		<string>lianbiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>作用域</string>
 		<key>shortcut</key>
 		<string>zuoyongyu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>多态</string>
 		<key>shortcut</key>
 		<string>duotai</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>实例化</string>
 		<key>shortcut</key>
 		<string>shilihua</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>复用性</string>
 		<key>shortcut</key>
 		<string>fuyongxing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>扩展性</string>
 		<key>shortcut</key>
 		<string>kuozhanxing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>继承</string>
 		<key>shortcut</key>
 		<string>jicheng</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>函数式</string>
 		<key>shortcut</key>
 		<string>hanshushi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>协程</string>
 		<key>shortcut</key>
 		<string>xiecheng</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>邮寄</string>
 		<key>shortcut</key>
 		<string>youji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>消费组</string>
 		<key>shortcut</key>
 		<string>xiaofeizu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>闪断</string>
 		<key>shortcut</key>
 		<string>shanduan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>句首</string>
 		<key>shortcut</key>
 		<string>jushou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>句尾</string>
 		<key>shortcut</key>
 		<string>juwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>行首</string>
 		<key>shortcut</key>
 		<string>hangshou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>行尾</string>
 		<key>shortcut</key>
 		<string>hangwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>段首</string>
 		<key>shortcut</key>
 		<string>duanshou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>段尾</string>
 		<key>shortcut</key>
 		<string>duanwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>文首</string>
 		<key>shortcut</key>
 		<string>wenshou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>文末</string>
 		<key>shortcut</key>
 		<string>wenmo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>多行</string>
 		<key>shortcut</key>
 		<string>duohang</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>可视</string>
 		<key>shortcut</key>
 		<string>keshi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>数值</string>
 		<key>shortcut</key>
 		<string>shuzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>竖直</string>
 		<key>shortcut</key>
 		<string>shuzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>仓库</string>
 		<key>shortcut</key>
 		<string>cangku</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>缩进</string>
 		<key>shortcut</key>
 		<string>suojin</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>压测</string>
 		<key>shortcut</key>
 		<string>yace</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>解码</string>
 		<key>shortcut</key>
 		<string>jiema</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>值为</string>
 		<key>shortcut</key>
 		<string>zhiwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>暂存区</string>
 		<key>shortcut</key>
 		<string>zancunqu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>版本库</string>
 		<key>shortcut</key>
 		<string>banbenku</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>公钥</string>
 		<key>shortcut</key>
 		<string>gongyao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>私钥</string>
 		<key>shortcut</key>
 		<string>siyao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>阈值</string>
 		<key>shortcut</key>
 		<string>yuzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>市值</string>
 		<key>shortcut</key>
 		<string>shizhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>域</string>
 		<key>shortcut</key>
 		<string>yu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>域帐号</string>
 		<key>shortcut</key>
 		<string>yuzhanghao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>进制</string>
 		<key>shortcut</key>
 		<string>jinzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>赏我</string>
 		<key>shortcut</key>
 		<string>shangwo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>联调</string>
 		<key>shortcut</key>
 		<string>liantiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>万兆</string>
 		<key>shortcut</key>
 		<string>wanzhao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>无责</string>
 		<key>shortcut</key>
 		<string>wuze</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>器</string>
 		<key>shortcut</key>
 		<string>qi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>自增</string>
 		<key>shortcut</key>
 		<string>zizeng</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>极客</string>
 		<key>shortcut</key>
 		<string>jike</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>闭源</string>
 		<key>shortcut</key>
 		<string>biyuan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>掩码</string>
 		<key>shortcut</key>
 		<string>yanma</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>范式</string>
 		<key>shortcut</key>
 		<string>fanshi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>秒级</string>
 		<key>shortcut</key>
 		<string>miaoji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>全量</string>
 		<key>shortcut</key>
 		<string>quanliang</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>里氏替换</string>
 		<key>shortcut</key>
 		<string>lishitihuan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>答疑</string>
 		<key>shortcut</key>
 		<string>dayi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>云原生</string>
 		<key>shortcut</key>
 		<string>yunyuansheng</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>读锁</string>
 		<key>shortcut</key>
 		<string>dusuo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>写锁</string>
 		<key>shortcut</key>
 		<string>xiesuo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>栈底</string>
 		<key>shortcut</key>
 		<string>zhandi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>栈顶</string>
 		<key>shortcut</key>
 		<string>zhanding</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>压入</string>
 		<key>shortcut</key>
 		<string>yaru</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>队头</string>
 		<key>shortcut</key>
 		<string>duitou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>队尾</string>
 		<key>shortcut</key>
 		<string>duiwei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>依赖倒置</string>
 		<key>shortcut</key>
 		<string>yilaidaozhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>头指针</string>
 		<key>shortcut</key>
 		<string>touzhizhen</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>尾指针</string>
 		<key>shortcut</key>
 		<string>weizhizhen</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>子树</string>
 		<key>shortcut</key>
 		<string>zishu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>二叉树</string>
 		<key>shortcut</key>
 		<string>erchashu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>中序</string>
 		<key>shortcut</key>
 		<string>zhongxu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>有向图</string>
 		<key>shortcut</key>
 		<string>youxiangtu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>有向无环</string>
 		<key>shortcut</key>
 		<string>youxiangwuhuan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>相邻边</string>
 		<key>shortcut</key>
 		<string>xianglinbian</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>遍历树</string>
 		<key>shortcut</key>
 		<string>bianlishu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>生成树</string>
 		<key>shortcut</key>
 		<string>shengchengshu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>散列表</string>
 		<key>shortcut</key>
 		<string>sanliebiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>帧中继</string>
 		<key>shortcut</key>
 		<string>zhenzhongji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>令牌桶</string>
 		<key>shortcut</key>
 		<string>lingpaitong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>基类</string>
 		<key>shortcut</key>
 		<string>jilei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>取地址</string>
 		<key>shortcut</key>
 		<string>qudizhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>级联</string>
 		<key>shortcut</key>
 		<string>jilian</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>函数重载</string>
 		<key>shortcut</key>
 		<string>hanshuchongzai</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>脏页</string>
 		<key>shortcut</key>
 		<string>zangye</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>脏读</string>
 		<key>shortcut</key>
 		<string>zangdu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>外键</string>
 		<key>shortcut</key>
 		<string>waijian</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>内联</string>
 		<key>shortcut</key>
 		<string>neilian</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>高内聚</string>
 		<key>shortcut</key>
 		<string>gaoneiju</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>组播</string>
 		<key>shortcut</key>
 		<string>zubo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>结果集</string>
 		<key>shortcut</key>
 		<string>jieguoji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>表锁</string>
 		<key>shortcut</key>
 		<string>biaosuo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>行锁</string>
 		<key>shortcut</key>
 		<string>hangsuo</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>表级</string>
 		<key>shortcut</key>
 		<string>biaoji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>胖客户端</string>
 		<key>shortcut</key>
 		<string>pangkehuduan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>必选</string>
 		<key>shortcut</key>
 		<string>bixuan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>声明式</string>
 		<key>shortcut</key>
 		<string>shengmingshi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>弱密码</string>
 		<key>shortcut</key>
 		<string>ruomima</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>传值</string>
 		<key>shortcut</key>
 		<string>chuanzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>售中</string>
 		<key>shortcut</key>
 		<string>shouzhong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>子任务</string>
 		<key>shortcut</key>
 		<string>zirenwu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>语义</string>
 		<key>shortcut</key>
 		<string>yuyi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>首屏</string>
 		<key>shortcut</key>
 		<string>shouping</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>预加载</string>
 		<key>shortcut</key>
 		<string>yujiazai</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>列号</string>
 		<key>shortcut</key>
 		<string>liehao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>折行</string>
 		<key>shortcut</key>
 		<string>zhehang</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>自适应</string>
 		<key>shortcut</key>
 		<string>zishiying</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>释义</string>
 		<key>shortcut</key>
 		<string>shiyi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>居中</string>
 		<key>shortcut</key>
 		<string>juzhong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>右</string>
 		<key>shortcut</key>
 		<string>you</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>失忆</string>
 		<key>shortcut</key>
 		<string>shiyi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>原语</string>
 		<key>shortcut</key>
 		<string>yuanyu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>扇出</string>
 		<key>shortcut</key>
 		<string>shanchu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>扇入</string>
 		<key>shortcut</key>
 		<string>shanru</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>伪类</string>
 		<key>shortcut</key>
 		<string>weilei</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>子元素</string>
 		<key>shortcut</key>
 		<string>ziyuansu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>布尔值</string>
 		<key>shortcut</key>
 		<string>buerzhi</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>解耦</string>
 		<key>shortcut</key>
 		<string>jieou</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>紧耦合</string>
 		<key>shortcut</key>
 		<string>jinouhe</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>宿主机</string>
 		<key>shortcut</key>
 		<string>suzhuji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>虚拟机</string>
 		<key>shortcut</key>
 		<string>xuniji</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>桥接</string>
 		<key>shortcut</key>
 		<string>qiaojie</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>内圣之道</string>
 		<key>shortcut</key>
 		<string>neishengzhidao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>外王之道</string>
 		<key>shortcut</key>
 		<string>waiwangzhidao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>汉隆</string>
 		<key>shortcut</key>
 		<string>hanlong</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>奥卡姆</string>
 		<key>shortcut</key>
 		<string>aokamu</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>失焦</string>
 		<key>shortcut</key>
 		<string>shijiao</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>价值感</string>
 		<key>shortcut</key>
 		<string>jiazhigan</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>局限性</string>
 		<key>shortcut</key>
 		<string>juxianxing</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>极库云</string>
 		<key>shortcut</key>
 		<string>jikuyun</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>【</string>
 		<key>shortcut</key>
 		<string>zyh</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>】</string>
 		<key>shortcut</key>
 		<string>yyh</string>
 	</dict>
    <dict>
 		<key>phrase</key>
 		<string>裸金属</string>
 		<key>shortcut</key>
 		<string>luojinshu</string>
 	</dict>
</array>
</plist>
